header.header 
    .container 
        .row.aling-items-center 
            .col-3 
                .inter-logo 
                    a(href ='/')
                        img(src="/images/logo.svg",alt='logo')
            .col-9 
                .inner-menu 
                    ul  
                        li 
                            a(href="/") trang chu 
                        li  
                            a(href="/products") san pham